body
{
    background-color: #110000;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
a
{
    color: #FFF;
}
a:hover
{
    color: rgb(223, 39, 39);
    text-decoration: none;
}
nav
{
    background-color: #5f0303;
}
article> div > header
{
    font-size: 30px;
    margin-bottom: 10px;
}
article > div
{
    text-align: center;
    padding: 10px;
}
.product
{
    background-color: #131212;
    min-height: 50px;
    padding-top: 10px;
}
.product:nth-child(odd)
{
    background-color: #220101;
}
input[type=submit], button
{
    background-color: rgb(110, 1, 1);
    color: white;
    padding: 7px 10px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=file]
{
    
}
.myfile
{
    background-color: rgb(110, 1, 1);
    color: white;
    padding: 7px 10px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 1px;
}
.myfile:hover
{
    background-color: rgb(110, 1, 1);
}
input[type=text], input[type=password], input[type=email], input[type=date], input[type=tel]
{
    padding: 3px 5px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select
{
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea
{
    min-height: 200px;
}
label
{
    background-color: #5f0303;
    cursor: pointer;
    text-align: center;
    min-width: 80px;
    min-height: 80px;
}
label:nth-child(odd)
{
    background-color: #380606;
}
label:hover
{
    background-color: #3d701b;
}
label > div
{
    margin-top: 20px;
}
label > div > div
{
    font-weight: 700;
    text-decoration: underline red;
}
footer
{
    text-align: center;
    font-size: 10px;
    margin: 20px 0;
    padding: 10px 0;
    border-top: rgb(110, 1, 1) solid 2px;
}
.message_bar
{
    border-bottom: black 1px solid;
    text-align: center;
}
.message_bar > div
{
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    padding-bottom: 2px;
    margin-right: 20px;
    
}
.message
{
    background-color: #131212;
    font-size: 20px;
    margin: 4px 0;
    text-align: justify;
}
.message:nth-child(odd)
{
    background-color: #220101;
}
.error
{
    color: red;
    margin: 10px 0;
    font-size: 16px;
}
.ok
{
    color: green;
    margin: 10px 0;
    font-size: 16px;
}
.dropdown-menu
{
    background-color: #5f0303;
}
.dropdown-menu > a
{
    color: white;
}
.dropdown-menu > a:hover
{
    background-color: #5f0303;
}
.user-profile-hello
{
    min-height: 180px;
    line-height: 200%;
}
.user-profile-border
{
    border-top: rgb(110, 1, 1) solid 2px;
    margin-top: 20px;
    padding-top: 20px;
}
.ch-pass
{
    margin-top: 20px;
}
form
{
    width: 100%;
    margin: 0 auto;
}
.hello
{
    margin-top: 10px;
}
textarea
{
    margin: 10px 0;
}
.img-fluid
{
    margin-top: 10px;
}
.right
{
    text-align: right;
}
.center
{
    text-align: center;
}
.table
{
    color: white;
}