body
{
    background-color: #110000;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
a
{
    text-decoration: none;
    color: #FFFFFF;
}
.content
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.logo
{
    font-size: 18px;
}
.main_bar
{
    margin-left: auto;
    margin-right: auto;
    border-bottom: rgb(110, 1, 1) solid 2px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
ul.nav
{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 250%;
    overflow: hidden;
}
ul.nav a
{
    text-decoration: none;
    display: block;
}
li a.active
{
    background-color: #4d0303;
    cursor: default;
}
ul.nav  li
{
    float: left;
    width: 150px;
    height: 40px;
    background-color: #220101;
    border-right: rgb(110, 1, 1) dashed 2px;
    font-size: 18px;
}
ul.nav li.last
{
    border: none;
}
ul.nav li:hover
{
    background-color: #720e0e;
}
@media screen and (max-width: 600px)
{
    ul.nav li
    {
        float: none;
        border-right: none;
        border-bottom: rgb(110, 1, 1) dashed 4px;
    }
    ul.nav li:first-child
    {
        border-top: rgb(110, 1, 1) dashed 4px;
    }
    ul.nav li:last-child
    {
        border-bottom: rgb(110, 1, 1) dashed 4px;
    }
    .main_bar
    {
        background-color: #220101;
    }
}
.main_page_form
{
    padding: 20px;
}
.result
{
    font-size: 20px;
    line-height: 200%;
    min-height: 300px;
    overflow: hidden;
    text-align: center;
}
h2
{
    line-height: 100%;
    padding-bottom: 10px;
}
ol
{
    list-style-type: none;
}
ol > li
{
    border-left: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    background-color: #131212;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
ol > li:nth-child(odd)
{
    background-color: #220101;
}
ol.messages li
{
    text-align: justify;
    padding: 0 10px;
    border-bottom: black solid 3px;
}
.messages_bar
{
    width: 100%;
    text-align: center;
}
ol.messages ul
{
    display: inline-block;
    list-style: none;
    text-align: center;
}
ol.messages ul li
{
    float: left;
    font-size: 12px;
    line-height: 200%;
    margin: 2px 10px;
    border-bottom: none;
}
ul
{
    list-style-type: none;
    text-align: center;
}
.login_area
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 0;
}
input
{
    text-align: center;
}
input[type=text]
{
    padding: 3px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
input[type=password]
{
    padding: 3px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] 
{
    background-color: rgb(110, 1, 1);
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
li > input[type=text]:placeholder-shown
{
    text-align: center;
}
li > input[type=password]:placeholder-shown
{
    text-align: center;
}
input[type=submit]:hover 
{
    background-color: rgb(126, 3, 3);
}
.footer
{
    border-top: rgb(110, 1, 1) solid 2px;
    font-size: 12px;
    padding: 10px;
}
.adding_date_form
{
    margin-left:auto;
    margin-right: auto;
}
.hello_div
{
    padding-bottom: 20px;
    font-size: 12px;
}
.hello_div > h2
{
    font-size: 40px;
}
ol.result
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul.adding > li > input
{
    width: 50%;
    height: 30px;
}
.login_area > ul.login > li > input
{
    width: 30%;
    height: 30px;
}
.expiry_date_input
{
    margin-left: 10px;
}
.result_grid
{
    margin: 10px auto;
    display: grid;
    grid-gap: 1px;
    
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 80%;
    font-size: 24px;
}

.error_div
{
    color: #ff0000;
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.my_radio_inputs
{
    font-size: 22px;
    background-color: #4d0303;
    cursor: pointer;
    padding: 10px;
    text-align: justify;
}
.my_radio_inputs:hover
{
    background-color: #860a0a;
} 
